.border-dark {
  margin: auto;
}

#logo {
  margin-left: 0px;
  width: 100%;
}

.navbar {
  background-image: url("https://ak8.picdn.net/shutterstock/videos/22858108/thumb/1.jpg");
  font-family: 'Prociono', serif;
  width:98%;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 24px;
}

.nav-link {
  color: rgb(51, 164, 240);
}

navbarText {
  color: white;
}

.header1 {
  text-align: center;
  background-image: url("https://ak8.picdn.net/shutterstock/videos/22858108/thumb/1.jpg");
  color: white;
}


.card-about-me {
  float: left;
}

.kevo {
  margin: 0px 0px 0px 10px;
  height: 400px;
  width: 20%;
}

.summaryheader {
  text-align: center;
  color: white;
}

.summary {
  text-align: center;
  color: white;
}

.mywork {
  text-align: center;
  color: white;
}

.card {
  background-color: grey;
  font-family: 'Prociono', serif;
}

body {
  background-color: black;
}